name: Deploy to Production
on:
  push:
    branches:
    - test
# on:
#   workflow_dispatch
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - run: |
        echo $GITHUB_RUN_ID
        sudo apt-get install git 
        cd
        rm -rf ./GitHub-Actions/
        git clone https://github.com/Mobileaspectstest/GitHub-Actions.git
